.modal {
  position: relative;
  max-height: 100%;
  width: 100%;
  background-color: $textBottonColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;

  opacity: 1;
  // transition: transform 250ms linear, opacity 250ms linear;

  @media screen and (min-width: 768px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    color: $buttonColor;
  }
}

.modal-icon-close {
  position: absolute;
  top: 3px;
  right: 4.5px;
  fill: currentColor;
}

body.lock {
    overflow: hidden;
  }
